<ion-view title="Bemutatkozás">
    <ion-content ng-class="{expanded:$scope.isExpanded}" padding="false">
        <img src="img/KElogo.png" width="100%" height="auto" style="width: 100%; height: auto;" />
        <div class="item-body" padding="true">
            <h3>MTA-KE Mikotoxinok az Élelmiszerláncban Kutatócsoport</h3>
            <h4>7400 Kaposvár, Guba S. u. 40.</h4>
            <p>A TÁMOP-4.2.2.D-15/1/KONV-2015-0025 azonosítószámú, „Mikotoxin szennyeződés megelőzésére és eltávolítására irányuló kutatásfejlesztés a Kaposvári Egyetemen” elnevezésű projekt konzorciumvezetője a Kaposvári Egyetem, konzorciumi partnere az Assas Research Kutatás-fejlesztési Nonprofit Kft.</p>
            <p>A projekt keretében az EU által is kiemelt problémaként kezelt kérdéskör, a takarmány alapanyagok penészgomba fertőződésének és mikotoxin szennyezettségének kérdésében a komplex megelőzés és kezelés megoldására tervezünk alapkutatásokat végezni. </p>
            <p>A komplex program keretében a szántóföldi megelőzés, valamint az oxidáción alapuló méregtelenítés eredményességét és azoknak a gazdasági állatok élettani folyamataira és termelésére gyakorolt hatását mérjük fel. </p>
            <p>A közvetlen cél a penészgombák mikotoxin termelő képességének tesztelése molekuláris genetikai módszerekkel, rezisztenciakutatások búzában és kukoricában, valamint egy új penészgomba ellenes, és/vagy mikotoxin közömbösítési technológia lehetőségének felmérése.</p>
            <p>A projekt hosszú távú célja egy komplex megelőzési és kezelési program kidolgozása, amellyel a gabonafélék mikotoxin szennyezettségéből adódó globális, minden évben jelentkező, nagy gazdasági károkat és humán egészségügyi kockázatot jelentő probléma hatékonyan kezelhető. Ehhez a hazai mikotoxin kutatással alapkutatás szinten is foglalkozó intézmények humánerőforrásukkal, infrastruktúrájukkal és nemzetközi kapcsolataikkal együttműködő partnerként kapcsolódnak, támogatva a gazdasági szférával való együttműködést, az innováció megvalósítását is. </p>
            <p>A várható eredmények: a mikotoxin kutatással foglalkozó intézmények közötti kapcsolatrendszer kiépítése, új kutatási módszerek kifejlesztése, fiatal kutatók bevonása a hálózatosodó kutatásba, felkészülés nemzetközi projektekben való részvételre. </p>
            <a class="item" href="#" onclick="window.open('http://mtakutatocsoport.ke.hu/index.php?id=home_hu', '_system', 'location=yes'); return false;">
                A kutatócsoport weboldala
            </a>
        </div>
        <div class="item-image">
            <img src="img/palyazat/esza_also.jpg">
        </div>
    </ion-content>
</ion-view>
