<ion-view view-title="Kutatás">
    <ion-content padding="true">
        <div class="item-body">
            <div>
                <h3>Legfontosabb eredmények 1990-2011 között</h3></div>
            <p>
                <strong>1. A fumonizin B1 különböző mennyiségben és ideig való etetésével a tolerálható érték meghatározása sertésben, a dózistól és az expozíciós időtől függő élettani és morfológiai elváltozások feltárása, non invazív képalkotó eljárások (CT, MRI) alkalmazásának bevezetése.</strong></p>
            <p>
                Ezeknek a vizsgálatoknak a célja rövidebb és hosszabb ideig tartó FB1 toxinterhelési kísérletben a toxin okozta elváltozások folyamatának megismerése volt, meghatározni azt a legalacsonyabb toxinkoncentrációt (no observed effect level, NOEL) sertésben, amely még nem okoz kimutatható morfológiai vagy funkcionális elváltozást a szervezetben. Az elváltozások kimutatásához, a toxinhatás monitorozásához non invazív (komputer tomográfiás és mágneses rezonancián alapuló) képalkotó diagnosztikai eljárásokat alkalmaztuk.
            </p>
            <p>
                A kísérletekben választott malacok tápjába ismert FB1 tartalmú <em>Fusarium moniliforme</em> gombatenyészetet kevertünk az alábbi FB1 koncentrációkat képezve: a) 0, 10, 20 és 40 mg/tak.kg 4 hétig, b) 0, 1, 5 és 10 mg/tak.kg 8 hétig, c) 0, 1, 5, és 10 mg/tak.kg 5 hónapig etetve.
            </p>
            <p>
                Igazolódott, hogy a sertésben a FB<sub>1</sub> célszerve a tüdő, amelyben az elváltozások súlyossága és formája a toxin mennyiségének és a toxinhatás időtartamának függvényeként alakul. A tüdőbeli elváltozások folyamata a CT vizsgálatokkal jól követhető (diagnosztizálható) volt, és a CT képalkotás eredményei összhangban álltak a kórbonctani és kórszövettani eredményekkel.
            </p>
            <p>A FB1 1-40 mg/tak.kg-os adagban, rövidebb ideig (4 hét) etetve nem okozott kifejezett, specifikus klinikai tüneteket, még a súlyosabb szervi elváltozásokat mutató egyedekben sem. Hosszan tartó fogyasztás esetén ingadozás volt megfigyelhető az állatok takarmányfogyasztásában és testtömeg gyarapodásában, de ez sem volt számottevő, nem volt szignifikáns és általában átmeneti jellegűnek bizonyult.</p>
            <p>
                Vizsgálataink bebizonyították, hogy a sertésekre jellemző kórkép, a tüdőödéma alacsonyabb toxin-koncentrációval is előidézhető. Ennek gyakorlati jelentőségét az adja, hogy 1-5 mg/tak.kg toxin szennyezettséggel hazai körülmények között is gyakran találkozhatunk. Az ilyenkor leggyakrabban kialakuló tüdőödéma és a krónikus toxinhatást követően fellépő irreverzibilis tüdőfibrózis CT vizsgálattal nyomon követhető (1. ábra), mikroszkópikusan pedig igazolható volt.
            </p>
            <div class="item item-image">
                <img src="img/ered1/01.jpg">
            </div>
            <small>1. ábra: A 4. héten (bal oldali kép) tüdőödéma, a 8. héten (jobb oldali kép) tüdőfibrózis kialakulása látszik 10 mg/tak.kg FB1 etetés hatására</small>
            <p>Akut toxikózis hatására tüdőödéma jött létre. A szövettani vizsgálatok interlobuláris és subpleuralis ödémát mutattak ki (2. ábra). Krónikus toxinhatásra a kötőszövetes sövények megszélesbedése hátterében a kötőszövetes állomány, a retikuláris rostok elszaporodása, tüdőfibrózis (fibrosis, elastosis, fibro-elastosis) kialakulása állt (3. ábra). A tüdőbeni elváltozások mellett a máj, a vese és a szívizom károsodása, valamint egyes esetekben fekély kialakulása volt megfigyelhető a gyomor nyelőcsői tájékán. Az agyvelőben nem találtunk toxinhatásra visszavezethető jeleket.</p>
            <div class="item item-image">
                <img src="img/ered1/02.jpg">
            </div>
            <small>2. ábra (bal): Subpleuralis és interstitialis tüdőödéma <br/>3. ábra (jobb): Az interlobuláris kötőszöveti sö-vényekben fibrózis és fibro-elasztózis.</small>
            <p>Eredményeink azt mutatták, hogy az 1 mg/tak.kg az a legkisebb dózis, amely nem okozott szignifikáns emelkedést a vér SA/SO paraméterében, és látható makro- és mikroszkópos elváltozás is csak egy-két esetben volt megfigyelhető. Mindezek alapján kimondható volt, hogy a sertésben meghatározott NOEL (no observed effect level) érték, azaz, elváltozást nem okozó legkisebb FB1 toxin koncentráció jelen ismereteink szerint 1 mg/tak.kg.</p>
            <p>Ezen eredmények alapján került módosításra a takarmányok megengedhető FB1 tartalmára vonatkozó ajánlati határérték a Magyar Takarmánykódexben. </p>
            <strong>2. A fumonizin B1 magzatkárosító hatásának vizsgálata sertésben </strong>
            <p>Ezzel a kísérletünkkel elsőként szolgáltattunk új eredményeket a fumonizin B1 magzatkárosító hatására vonatkozóan sertésben. Megállapítható volt, hogy ha a vemhes kocával a vemhesség utolsó szakaszában Fusarium moniliforme gombatenyészetet tartalmazó takarmányt etetünk, a benne lévő FB1 toxin már a méhen belül károsítja a magzatokat. A sertésekre jellemző kórkép, a tüdőödéma, már az újszülött malacokban is megfigyelhető volt (4. ábra). </p>
            <div class="item item-image">
                <img src="img/ered1/4.jpg">
            </div>
            <small>4. ábra: Újszülött malac tüdejében a magzati életben kialakult tüdő-ödéma</small>
            <p>Az enyhébb-súlyosabb fokú tüdőödéma kórszövettani képe megegyezett a kifejlett sertések esetében tapasztaltakkal. Azt, hogy a kórkép a FB1-re vezethető vissza, a vérszérumban mért magasabb szabad szfinganin koncentráció igazolta, amely a FB1 toxikózis legérzékenyebb és legkorábbi indikátora. A szfinganin mennyiségének megemelkedése következtében nőtt a SA/SO érték, az emelkedés az elváltozás súlyosságával összhangban volt: súlyos elváltozás esetén 0,29-0,36, míg enyhébb tüdőödéma esetében 0,20-0,24 (1. táblázat). </p>
            <p>A megszületést követően a malacokban csökkent az elváltozás súlyossága. Az ellést követően toxinmentes tápot fogyasztó koca malacai elváltozástól mentesek voltak. Ebből arra következtethetünk, hogy a tejben ng/L nagyságrendben jelen lévő toxin nem jelentős a kórkép kialakításában, valamint, hogy a toxinexpozíció megszűnte után a szervezet regenerálódik.</p>
            <p>Korábban nem volt ismert, hogy a FB1 kiválasztódik-e a tejjel. Eredményeink – magas dózisú toxinexpozíció esetén – arra is rámutattak, hogy a toxin kis mennyiségben ugyan, de kiválasztódik a tejjel. A legnagyobb mennyiségben a kolosztrumban volt mérhető, majd koncentrációja a tejben a 7.-8. napra a folyamatos toxinfogyasztás ellenére csökkent.</p>
            <p>Megállapítottuk tehát, hogy a toxin nagy dózisban adagolva átjut a placentán - még a sertés epiteliokoriális placentáján is – és károsítja a méhen belül fejlődő magzatokat. A magzatokban kialakuló kórkép a malacokban a kifejlett sertésekre jellemző tüdőödéma volt.</p>
             <h5>1. táblázat: A malacok (n=2/koca) szérumának szabad szfinganin/szfingozin (SA/SO) értékei, valamint a kocatejben mért fumonizin B1 tartalom (ng/L)</h5>
                            <table class="responsive">
                    
                    <tr>
                        <th>A vizsgált koca</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                        <th>Header 4</th>
                        <th>Header 5</th>
                           </tr>
                    <tr>
                        <td>row 2, cell 1</td>
                        <td>row 2, cell 2</td>
                        <td>row 2, cell 3</td>
                        <td>row 2, cell 4</td>
                        <td>row 2, cell 5</td>
                        <td>row 2, cell 6</td>
                        <td>row 2, cell 7</td>
                        <td>row 2, cell 8</td>
                    </tr>
                    <tr>
                        <td>row 3, cell 1</td>
                        <td>row 3, cell 3</td>
                        <td>row 3, cell 4</td>
                        <td>row 3, cell 5</td>
                        <td>row 3, cell 6</td>
                        <td>row 3, cell 7</td>
                        <td>row 3, cell 8</td>
                    </tr>
                    <tr>
                        <td>row 4, cell 1</td>
                        <td>row 4, cell 2</td>
                        <td>row 4, cell 3</td>
                        <td>row 4, cell 4</td>
                        <td>row 4, cell 5</td>
                        <td>row 4, cell 6</td>
                        <td>row 4, cell 7</td>
                        <td>row 4, cell 8</td>
                    </tr>
                        
        </table>


        </div>
</ion-view>
