<ion-view view-title="Kapcsolat">
    <ion-content padding="true">
        <ion-list>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                <a class="item item-text-wrap item-thumbnail-left" href="#">
                <img src="img/drkovacsmelinda.jpg">
                    <h2>Prof. Dr. Kovács Melinda </h2>
                    <b>kutatócsoport vezető, akadémikus</b>                    
                    </a>
                                        <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
