<ion-view view-title="Pályázat">
    <ion-content padding="false">
        <div class="item-body" padding="true">
            <div>
                <h2>Kaposvári Egyetem Agrár- és Környezettudományi Kar</h2>
                <h3>Élettani és Állathigiéniai Tanszék</h3>
                <h4>Prof. Dr. Kovács Melinda </h4>
                <b>tanszékvezető</b>
                <ul>
                    <li>Telefonszám: 06 82/505-800 </li>
                    <li>Mellék: 2201 </li>
                    <li>E-mail: kovacs.melinda@ke.hu</li>
                    <li>Iroda: 7. oktatási épület 006.</li>
                </ul>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.9342680721775!2d17.82529528787801!3d46.38528409186182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47683ddba89835f5%3A0x816f57b0d10f099e!2sKaposv%C3%A1ri+Egyetem!5e0!3m2!1sen!2shu!4v1448254792628" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </ion-content>
</ion-view>
