<ion-view view-title="Pályázat">
    <ion-content padding="false">
        <div class="item-body" padding="true">
            <div>
            <img src="img/KElogo.png" width="100%" height="auto" style="width: 100%; height: auto;" />
                <h2>Agrár- és Környezettudományi Kar</h2>
                <h3>Élettani és Állathigiéniai Tanszék</h3>
                <h4>Prof. Dr. Kovács Melinda </h4>
                <b>tanszékvezető</b>
                <ul>
                    <li>Telefonszám: 06 82/505-800 </li>
                    <li>Mellék: 2201 </li>
                    <li>E-mail: kovacs.melinda@ke.hu</li>
                    <li>Iroda: 7. oktatási épület 006.</li>
                </ul>
            </div>
        </div>
        
                <div class="item-image">
            <img src="img/bg/bg03.jpg">
        </div>

    </ion-content>
</ion-view>
