<ion-view view-title="Kutatók">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="list card" ng-repeat="kutato in kutatok" href="#/app/kutatok/{{kutato.id}}">
                <div class="item item-body">{{kutato.title}}</div> 
            </ion-item>
        </ion-list>
    </ion-content>
        <ion-footer-bar>
        <div class="tabs tabs-stable tabs-icon-top static">
            <a ui-sref="app.tabs" class="tab-item">
                <i class="icon ion-ios-home-outline"></i>Bemutatkozás
            </a>
            <a ui-sref="app.kutatas" class="tab-item">
                <i class="icon ion-ios-color-filter-outline"></i>Kuttás
            </a>
            <a ui-sref="app.kutatok" class="tab-item">
                <i class="icon ion-ios-people-outline"></i> Kutatók
            </a>
            <a ui-sref="app.publikaciok" class="tab-item">
                <i class="icon ion-ios-copy-outline"></i> Publikációk
            </a>
        </div>
        <div class="clearfix"></div>
    </ion-footer-bar>
</ion-view>
