<ion-view title="mellekletek">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item href="#/melleklet1">Eredmények 1990-2011 között</ion-item>
            <ion-item href="#/melleklet2">Eredmények 2012-2015 között</ion-item>
            <ion-item href="#/palyazat">TÁMOP-4.2.2.D-15/1/Konv-2015-0025 jelű „Mikotoxin szennyeződés megelőzésére és eltávolítására irányuló kutatásfejlesztés a Kaposvári Egyetemen” című pályázat</ion-item>
        </ion-list>
    </ion-content>
</ion-view>