<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="solid-bg expanded">
            <span class="avatar" style="background: url('img/keicon.png'); background-size: cover;"></span>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/app/bemutatkozas">
                    Bemutatkozás
                </ion-item>
				<ion-item menu-close href="#/app/palyazat">
                    Pályázat
                </ion-item>
				<ion-item menu-close href="#/app/kutatas">
                    Kutatás
                </ion-item>
                <ion-item menu-close href="#/app/kutatok">
                    Kutatók
                </ion-item>
                <ion-item menu-close href="#/app/publikaciok">
                    Publikációk
                </ion-item>
                <ion-item menu-close href="#/app/partnerek">
                    Partnerek
                </ion-item>
                <ion-item menu-close ng-click="showNevjegy('ProfDrKovacsMelinda')">
                    Kapcsolat
                </ion-item>
                <ion-item menu-close href="#/app/kereses">
                    Keresés
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
