<ion-view view-title="Pályázat">
    <ion-content padding="false">
        <div class="item-right text-right">
            <img class="img" src="img/palyazat/esza.jpg" width="65%" height="auto" style="" />
        </div>
        <div class="item-body" padding="true">
            <div>
                <h3>TÁMOP-4.2.2.D-15/1/Konv-2015-0025 jelű 
                        „Mikotoxin szennyeződés megelőzésére és eltávolítására irányuló kutatásfejlesztés a Kaposvári Egyetemen” című pályázat</h3>
                <p>A projekt keretében olyan kutatások indultak el, amelyek több kutatócsoport működésének összehangolásával komplex megelőzési program lehetőségét alapozzák meg. A penészgombák által termelt mikotoxinok óriási gazdasági károkat okoznak a növénytermesztésben és az állattenyésztésben, valamint humán egészségkárosító hatásuk is jelentős lehet. A program keretében a penészgombákkal szemben rezisztens kukorica és búza vonalak tesztelése folyik, vizsgálják a toxintermelésért felelős gének jelenlétét, valamint egy új, oxidáción alapuló fertőtlenítőszer és technológia hatását a penészgombák elszaporodására és a termelt mikotoxinok esetleges közömbösítésére. A toxinbontó hatás mellett kimutatásra kerül az is, hogy a kezelt termények nem lesznek-e károsak az egészségre, illetve, hogy a kezelés hogyan befolyásolja a kukorica és a búza táplálóanyag tartalmát.</p>
                <p>A témában dolgozó három kutatócsoport a projekt keretében együttműködik a szegedi Gabonakutató Közhasznú Kft-vel, a Szegedi Tudományegyetem Mikrobiológiai tanszékével, valamint a Pannon Trade Kft-vel. Konzorciumi partnere az Assas Research Kutatás-fejlesztési Nonprofit kft.</p>
                <h3>A projekt keretében tervezett alap- és célzott alapkutatások</h3>
                <strong>1. Fajtavizsgálat, nemesítés</strong><br/>
                <strong>1.1. Kutatás és kalászfuzáriummal szembeni rezisztencianemesítés búzában (Gabonakutató Nonprofit Kft., Szeged)</strong><br/>
                <strong>1.2. Rezisztenciakutatások és nemesítés kukoricában toxikus csőpenész gombákkal szemben (Gabonakutató Nonprofit Kft., Szeged)</strong><br/>
                <strong>1.3. Izolált penészgombák mikotoxin termelő képességének tesztelése molekuláris genetikai módszerekkel (Szegedi Tudományegyetem, TTK, Mikrobiológiai Tanszék)</strong><br/>
                <strong>2. Az oxidáción alapuló közömbösítés vizsgálata</strong><br/>
                <strong>2.1. Modell kísérletek beállítása a SteriClean hatékonyságának vizsgálatára</strong><br/>
                <strong>2.1.1. A kezelés hatása tisztított toxinokra</strong><br/>
                <strong>2.1.2. A kezelés hatása kukoricán elszaporított penészgombák által termelt mikotoxinokra - színtenyészetek alkalmazásával egy adott gombával és az általa termelt toxinnal szembeni védő hatás vizsgálata</strong><br/>
                <strong>2.1.3. A kezelés hatása a természetes úton fertőződött és szennyezett tételekre</strong><br/>
                <strong>2.2. A kezelés hatása a táplálóanyagokra</strong><br/>
                <strong>2.2.1. Analitikai vizsgálatok</strong><br/>
                <strong>2.2.2. Közeli infravörös (NIR) spektroszkópiás vizsgálatok</strong><br/>
                <strong>2.2.3. Biológiai teszt</strong><br/>
                <strong>2.3. Ártalmasság (toxicitás) vizsgálat</strong><br/>
                <strong>2.3.1. In vitro toxicitás vizsgálatok</strong><br/>
                <strong>2.3.2. Eisenia teszt</strong><br/>
                <strong>2.3.3. Pseudomonas putida növekedésgátlási teszt (Szegedi Tudományegyetem, TTK, Mikrobiológiai Tanszék)</strong><br/>
                <strong>2.3.4. Ames teszt a genotoxikus hatás mérésére (Szegedi Tudományegyetem, TTK, Mikrobiológiai Tanszék)</strong><br/>
                <strong>2.3.2. Patkányetetési kísérlet</strong><br/>
  
                <h3>„Mikotoxin-szennyeződés megelőzésére és eltávolítására irányuló kutatásfejlesztés a Kaposvári Egyetemen”</h3>
                <h3><strong>A projekt adatai</strong><br/><strong> <br></strong><br/></h3>
                <p><strong>Pályázati kiírás neve:</strong><br/></p>
                <p>„Interdiszciplináris kutatói teamek felkészítése a nemzetközi programokban való részvételre az alapkutatás és a célzott alapkutatás területén”</p>
                <p><strong>A projekt azonosítószáma:</strong><br/></p>
                <p>TÁMOP-4.2.2.D-15/1/KONV-2015-0025</p>
                <p><strong>A projekt címe:</strong><br/></p>
                <p>„Mikotoxin szennyeződés megelőzésére és eltávolítására irányuló kutatásfejlesztés</p>
                <p>a Kaposvári Egyetemen”</p>
                <p><strong>Fő kedvezményezett:</strong><br/></p>
                <p>Kaposvári Egyetem • 7400 Kaposvár, Guba s. u. 40.</p>
                <p><strong>Konzorciumi Partner</strong><br/></p>
                <p>Assas Research Kutatás-fejlesztési Nonprofit Korlátolt Felelősségű Társaság • 8600 Siófok, Szigliget u. 7.</p>
                <p><strong>Támogató:</strong><br/></p>
                <p>Emberi Erőforrások Minisztériuma</p>
                <p>(1054 Budapest, Akadémia u. 3.)</p>
                <p><strong>Támogatás összege:</strong><br/></p>
                <p>276&nbsp;640&nbsp;620 Ft</p>
                <p><strong>Projekt teljes költségvetése:</strong><br/></p>
                <p>276&nbsp;640&nbsp;620 Ft</p>
                <p><strong>A projekt időtartama:</strong><br/></p>
                <p>2015. április 2.- 2015. november 30.</p>
                <p><strong>A projektmegvalósítás helyszíne:</strong><br/></p>
                <p>7400 Kaposvár, Guba S. u. 40.</p>
                <p><strong>Kapcsolattartó és elérhetőségei:</strong><br/></p>
                <p>Bálint Jánosné Bernadett, projektmenedzser</p>
                <p>balint.bernadett@ke.hu • telefon: 82 505 800 /1499</p>
                <h3>Projekt team</h3>
                <p><strong>Projektmenedzser:</strong><br/></p>
                <p>Bálint Jánosné Bernadett</p>
                <p>balint.bernadett@ke.hu</p>
                <p><strong>Szakmai vezető:</strong><br/></p>
                <p>Prof. Dr. Kovács Melinda</p>
                <p>kovacs.melinda@ke.hu</p>
                <p><strong>Pénzügyi vezető:</strong><br/></p>
                <p>Sárközi Ildikó</p>
                <p>sarkozi.ildiko@ke.hu</p>
                <p><strong>Projektasszisztens:</strong><br/></p>
                <p>Kovács Péter Dániel</p>
                <p>kovacs.daniel2@ke.hu</p>
                <p><strong>Szakmai megvalósítók</strong><br/></p>
                <p>Agrár- és Környezettudományi Kar munkatársai</p>
                <p><strong>A projekt az Európai Unió támogatásával, az Európai Szociális Alap társfinanszírozásával valósul meg.</strong><br/></p>
                <p></p>
            </div>
        </div>
    </ion-content>
</ion-view>
