<ion-view view-title="Partnerek">
    <ion-content class="positive-bg">
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
                <img src="img/01.png">
                <div class="item-body">ELTE TTK Élettani és Neurobiológiai Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/szie.jpg">
                <div class="item-body">SZIE MKK Takarmányozástani Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/szie.jpg">
                <div class="item-body">SZIE ÁOK Járványtani és Mikrobiológiai Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/szie.jpg">
                <div class="item-body">SZIE ÁOK Kórbonctani és Igazságügyi Állatorvostani Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/szie.jpg">
                <div class="item-body">SZIE ÁOK Szülészeti és Szaporodásbiológiai Tanszék és Klinika</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right">
                <div class="item-body">SZIE ÁOK Állathigiéniai, Állomány-egészségtani és Állatorvosi Etológiai Tanszék</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">MTA Agrártudományi Kutatóközpont Állatorvos-tudományi Intézet</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">Kaposi Mór Oktató Kórház, Kaposvár</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">University of Johannesburg, South Africa</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">Cape Peninsula University of Technology (Bellville), South Africa</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">Technical University of Munich, Germany</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">INRA (Toulouse), France</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">Faculty of Veterinary Medicine of Trakia University (Stara Zagora), Bulgaria</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">Norwegian Institute for Air Research (Oslo), Norway</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">University of Oslo, Norway</div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item-body">University of Parma, Department of Food Science (Italy)</div>
            </div>
        </div>
    </ion-content>
</ion-view>
