<ion-view view-title="Partnerek">
    <ion-content class="positive-bg">
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
                <img src="img/partnerek/elte.png">
                <div class="item-body">ELTE TTK Élettani és Neurobiológiai Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/szie.jpg">
                <div class="item-body">SZIE MKK Takarmányozástani Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/szie.jpg">
                <div class="item-body">SZIE ÁOK Járványtani és Mikrobiológiai Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/szie.jpg">
                <div class="item-body">SZIE ÁOK Kórbonctani és Igazságügyi Állatorvostani Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img//partnerek/szie.jpg">
                <div class="item-body">SZIE ÁOK Szülészeti és Szaporodásbiológiai Tanszék és Klinika</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img//partnerek/szie.jpg">
                <div class="item-body">SZIE ÁOK Állathigiéniai, Állomány-egészségtani és Állatorvosi Etológiai Tanszék</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
        <div class="item item-icon-right item-thumbnail-left">
        <img src="img/partnerek/mtaatk.png">
                            <div class="item-body">MTA Agrártudományi Kutatóközpont Állatorvos-tudományi Intézet</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/kaposimorok_logo.png">
                <div class="item-body">Kaposi Mór Oktató Kórház, Kaposvár</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/johanneswburg.png">
                <div class="item-body">University of Johannesburg, South Africa</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/capetown.png">
                <div class="item-body">Cape Peninsula University of Technology (Bellville), South Africa</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/tum.png">
                <div class="item-body">Technical University of Munich, Germany</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/INRA_logo.png">
                <div class="item-body">INRA (Toulouse), France</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/trakia.png">
                <div class="item-body">Faculty of Veterinary Medicine of Trakia University (Stara Zagora), Bulgaria</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/nilu.png">
                <div class="item-body">Norwegian Institute for Air Research (Oslo), Norway</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/universityi_oslo-logo-ny.png">
                <div class="item-body">University of Oslo, Norway</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
        <div class="card">
            <div class="item item-icon-right item-thumbnail-left">
            <img src="img/partnerek/parma_logo.jpg">
                <div class="item-body">University of Parma, Department of Food Science (Italy)</div>
                <i class="icon ion-link"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
