<ion-view view-title="Publikációk">
    <ion-content class="positive-bg">
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Fodor J, Kametler L, Kovács M.:</b>
                        <br/>Practical aspects of fumonisin production under laboratory conditions. MYCOTOXIN RESEARCH 22:(3) pp. 211-216. (2006)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Fodor J, Meyer K, Riedlberger M, Bauer J, Horn P, Kovacs F, Kovacs M.:</b>
                        <br/>Distribution and Elimination of Fumonisin Analogues in Weaned Piglets After Oral Administration of Fusarium Verticillioides Fungal Culture. FOOD ADDITIVES AND CONTAMINANTS 23:(5) pp. 492-501. (2006)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Fodor J, Balogh K, Weber M, Mézes M, Kametler L, Pósa R, Rajli V, Bauer J, Horn P, Kovács F, Kovács M.:</b>
                        <br/>A fumonisin B1 metabolizmusának in vivo és in vitro vizsgálata [In vivo and in vitro examination of the metabolism of fumonisin B 1]. MAGYAR ÁLLATORVOSOK LAPJA 129:(12) pp. 735-745. (2007)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Fodor J, Meyer K, Gottschalk C, Mamet R, Kametler L, Bauer J, Horn P, Kovacs F, Kovacs M.:</b>:
                        <br/>In Vitro Microbial Metabolism of Fumonisin B-1. FOOD ADDITIVES AND CONTAMINANTS 24:(4) pp. 416-420. (2007)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Fodor J, Balogh K, Wéber M, Mézes M, Kametler L, Pósa R, Mamet R, Bauer J, Horn P, Kovács F, Kovács M:</b>
                        <br/>Absorption, distribution and elimination of fumonisin B1 metabolites in weaned piglets. FOOD ADDITIVES AND CONTAMINANTS PART A - CHEMISTRY ANALYSIS CONTROL EXPOSURE AND RISK ASSESSMENT 25:(1) pp. 88-96. (2008)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Szabó-Fodor J, Dall’Asta C, Falavigna C, Kachlek M, Szécsi Á, Szabó A, Kovács M:</b>
                        <br/>Determination of the amount of bioaccessible fumonisin B1 in different matrices after in vitro digestion. WORLD MYCOTOXIN JOURNAL 8:(3) pp. 261-267. (2015)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Szabó A, Szabó-Fodor J, Fébel H, Romvári R, Kovács M:</b>
                        <br/>Individual and combined haematotoxic effects of fumonisin B1 and T-2 mycotoxins in rabbits. FOOD AND CHEMICAL TOXICOLOGY 72: pp. 257-264. (2014)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Horvatovich Katalin, Hafner Dóra, Bodnár Zsófia, Berta Gergely, Hancz Csaba, Dutton Mike, Kovács Melinda:</b>
                        <br/>Dose-related genotoxic effect of T-2 toxin measured by comet assay using peripherial blood mononuclear cells of healthy pigs. ACTA VETERINARIA HUNGARICA 61:(2) pp. 175-186. (2013)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Kovács Melinda, Tornyos Gábor, Matics Zsolt, Mézes Miklós, Balogh Krisztián, Rajli Veronika, Bloch-Bodnár Zsófia, Rusvai Miklós, Mándoki Míra, Cseh Sándor:</b>:
                        <br/>Effect of chronic T-2 toxin exposure in rabbit bucks, determination of the No Observed Adverse Effect Level (NOAEL). ANIMAL REPRODUCTION SCIENCE 137:(3-4) pp. 245-252. (2013)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Kovács M, Bónai A, Szendrő Zs, Milisits G, Lukács H, Szabó-Fodor J, Tornyos G, Matics Zs, Kovács F, Horn P:</b>
                        <br/>Effect of different weaning age (21, 28 or 35 days) on production, growth and certain parameters of the digestive tract in rabbits. ANIMAL 6:(6) pp. 894-901. (2012)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Roland Pósa, Stoycho Stoev, Melinda Kovács, Tamás Donkó, Imre Repa, Tibor Magyar:</b>
                        <br/>A comparative pathological finding in pigs exposed to fumonisin B1 and/or Mycoplasma hyopneumoniae. TOXICOLOGY AND INDUSTRIAL HEALTH 31:(online) Paper 0748233714543735. (2014)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Pósa Roland, Magyar Tibor, Stoev Stoycho D, Glávits Róbert, Donkó Tamás, Repa Imre, Kovács Melinda:</b>
                        <br/>Use of computed tomography and histopathologic review for lung lesions produced by the interaction between mycoplasma hyopneumoniae and fumonisin mycotoxins in pigs. VETERINARY PATHOLOGY 50:(6) pp. 971-979. (2013)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Pósa Roland, Donkó Tamás, Bogner Péter, Kovács Melinda, Repa Imre, Magyar Tibor:</b>
                        <br/>Interaction of Bordetella bronchiseptica, Pasteurella multocida, and fumonisin B1 inthe porcine respiratory tract as stidied by computed tomography. CANADIAN JOURNAL OF VETERINARY RESEARCH-REVUE CANADIENNE DE RECHERCHE VETERINAIRE 75:(3) pp. 176-182. (2011)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item">
                <div class="item item-body">
                    <p><b>Mwanza M, Kametler L, Bonai A, Rajli V, Kovács M, Dutton MF:</b>
                        <br/>The cytotoxic effects of fumonisin B1 and ochratoxin A on human and pig lymphocytes using Methyl thiazol tetrazolium (MTT) assay. MYCOTOXIN RESEARCH 25:(4) pp. 233-238. (2009)</p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-link"></i> </a>
                </div>
            </div>
        </div>
    </ion-content>
    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-stable tabs-icon-top static">
            <a ui-sref="app.tabs" class="tab-item">
                <i class="icon ion-ios-home-outline"></i>Bemutatkozás
            </a>
            <a ui-sref="app.kutatas" class="tab-item">
                <i class="icon ion-ios-color-filter-outline"></i>Kutatás
            </a>
            <a ui-sref="app.kutatok" class="tab-item">
                <i class="icon ion-ios-people-outline"></i> Kutatók
            </a>
            <a ui-sref="app.publikaciok" class="tab-item">
                <i class="icon ion-ios-copy-outline"></i> Publikációk
            </a>
        </div>
        <div class="clearfix"></div>
    </ion-footer-bar>
</ion-view>
