
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Bevezetés" icon-off="ion-ios-home" icon-on="ion-ios-home-outline" href="#/app/bemutatkozas">
    <ion-nav-view name="tab1"></ion-nav-view>
  </ion-tab>

  <!-- Kutatás Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-color-filter-outline" icon-on="ion-ios-color-filter" href="#/kutatas">
    <ion-nav-view name="tab-kutatas"></ion-nav-view>
  </ion-tab>

  <!-- Eredmenyek Tab -->
  <ion-tab title="Eredmények" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/eredmenyek">
    <ion-nav-view name="tab-eredmenyek"></ion-nav-view>
  </ion-tab>

  <!-- Kutatok Tab -->
  <ion-tab title="Kutatók" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/kutatok">
    <ion-nav-view name="tab-kutatok"></ion-nav-view>
  </ion-tab>

    <!-- Publikaciok Tab -->
  <ion-tab title="Publikációk" icon-off="ion-ios-copy-outline" icon-on="ion-ios-copy" href="#/publikaciok">
    <ion-nav-view name="tab-publikaciok"></ion-nav-view>
  </ion-tab>

</ion-tabs>
