<ion-view title="tagok">
    <ion-content padding="true" class="has-header">
        <h3>A kutatócsoport tagjai 1996-2012 között:</h3>
        <ion-list>
            <ion-item>Balogh Krisztián</ion-item>
            <ion-item>Banczerowski Janusné</ion-item>
            <ion-item>Bata Árpád</ion-item>
            <ion-item>Bónai András</ion-item>
            <ion-item>Cseh Sándor</ion-item>
            <ion-item>Fodor Judit</ion-item>
            <ion-item>Horn Péter</ion-item>
            <ion-item>Kovács Ferenc</ion-item>
            <ion-item>Kovács Melinda</ion-item>
            <ion-item>Matics Zsolt</ion-item>
            <ion-item>Mézes Miklós</ion-item>
            <ion-item>Toldi Mária</ion-item>
            <ion-item>Varró Petra</ion-item>
            <ion-item>Világi Ildikó</ion-item>
        </ion-list>
    </ion-content>
</ion-view>