<ion-view view-title="Kutatócsoport">
    <ion-content padding="true">
        <div>
            <h4>A kutatócsoport jelenlegi tagjai<br/>(2012-től)</h4>
        </div>
		<div class="list">
            <div class="item item-icon-left" ng-click="showNevjegy('ProfDrKovacsMelinda')">
                <i class="icon ion-person"></i> Prof. Dr. Kovács Melinda
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('DrSzaboFodorJudit')">
                <i class="icon ion-person"></i> Dr. Szabó-Fodor Judit
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('DrDCostaLilla')">
                <i class="icon ion-person"></i> Dr. D’Costa Lilla
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('DrBaloghneDrZandokiErika')">
                <i class="icon ion-person"></i> Dr. Baloghné Dr. Zándoki Erika
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('KocsoDaniel')">
                <i class="icon ion-person"></i> Kócsó Dániel
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('DrBorsIstvan')">
                <i class="icon ion-person"></i> Dr. Bors István
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('KonyarineTakacsAnna')">
                <i class="icon ion-person"></i> Konyáriné Takács Anna
            </div>
        </div>
    </ion-content>
</ion-view>
