<ion-view view-title="Kutatócsoport">
    <ion-content padding="true">
        <div class="item">
            <h2>A kutatócsoport jelenlegi tagjai (2012-től)</h2>
        </div>
        <ion-list>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/drkovacsmelinda.jpg">
                        <h2>Prof. Dr. Kovács Melinda </h2>
                        <b>kutatócsoport vezető, akadémikus</b>
                    </a>
                    <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/drkovacsmelinda.jpg">
                        <h2>Dr. Szabó-Fodor Judit</h2>
                        <b>kutatócsoport vezető, akadémikus</b>
                    </a>
                    <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/drkovacsmelinda.jpg">
                        <h2>Dr. D’Costa Lilla</h2>
                        <b>kutatócsoport vezető, akadémikus</b>
                    </a>
                    <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/drkovacsmelinda.jpg">
                        <h2>Dr. Baloghné Dr. Zándoki Erika</h2>
                        <b>kutatócsoport vezető, akadémikus</b>
                    </a>
                    <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/drkovacsmelinda.jpg">
                        <h2>Kócsó Dániel</h2>
                        <b>kutatócsoport vezető, akadémikus</b>
                    </a>
                    <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/drkovacsmelinda.jpg">
                        <h2>Dr. Bors István</h2>
                        <b>kutatócsoport vezető, akadémikus</b>
                    </a>
                    <ul>
                        <li>Telefonszám: 06 82/505-800 </li>
                        <li>Mellék: 2201 </li>
                        <li>E-mail: kovacs.melinda@ke.hu</li>
                        <li>Iroda: 7. oktatási épület 006 </li>
                    </ul>
                </div>
            </ion-item>
            <ion-item class="list card" padding="true">
                <div class="item item-body">
                    <a class="item item-text-wrap item-thumbnail-left" href="#">
                        <img src="img/no.jpg">
                        <h2>Konyáriné Takács Anna</h2>
                    </a>
                    <ul>
                        <li>Végzettség: vegyésztechnikus</li>
                        <li>Beosztás: vegyésztechnikus</li>
                        <li>Megjegyzés: 2013.07.01-2015.01.31. között</li>
                        <li><i class="ion-document"></i> Curriculum Vitae</li
                    </ul>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
