<ion-view view-title="Kutatócsoport">
    <ion-content padding="true">
        <div>
            <h4>A kutatócsoport jelenlegi tagjai<br/>(2012-től)</h4>
        </div>
		<div class="list">
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('ProfDrKovacsMelinda')">
                <i class="icon ion-person"></i> Prof. Dr. Kovács Melinda
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('DrSzaboFodorJudit')">
                <i class="icon ion-person"></i> Dr. Szabó-Fodor Judit
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('DrDCostaLilla')">
                <i class="icon ion-person"></i> Dr. D’Costa Lilla
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('DrBaloghneDrZandokiErika')">
                <i class="icon ion-person"></i> Dr. Baloghné Dr. Zándoki Erika
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('KocsoDaniel')">
                <i class="icon ion-person"></i> Kócsó Dániel
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('DrBorsIstvan')">
                <i class="icon ion-person"></i> Dr. Bors István
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="showNevjegy('KonyarineTakacsAnna')">
                <i class="icon ion-person"></i> Konyáriné Takács Anna
                <i class="icon ion-ios-arrow-thin-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
