<ion-view view-title="Kutatócsoport">
    <ion-content padding="true">
        <div>
            <h4>A munkaterv végrehajtása során a pályázóval együttműködő, TKI állományba nem kerülő kutatók</h4>
        </div>
		<div class="list">
            <div class="item item-icon-left" ng-click="showNevjegy('ProfDrMezesMiklos')">
                <i class="icon ion-person"></i> Prof. Dr. Mézes Miklós
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('ProfDrSzaboAndras')">
                <i class="icon ion-person"></i> Prof. Dr. Szabó András
            </div>
            <div class="item item-icon-left" ng-click="showNevjegy('ProfDrRomvariRobert')">
                <i class="icon ion-person"></i> Prof. Dr. Romvári Róbert
            </div>
        </div>
    </ion-content>
</ion-view>
