<ion-view view-title="Kutatócsoport">
    <ion-content padding="true">
        <div>
            <h4>A kutatócsoport tagjai<br/>1996-2012 között</h4>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Balogh Krisztián
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Banczerowski Janusné
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Bata Árpád
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Bónai András
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Cseh Sándor
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Fodor Judit
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Horn Péter
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Kovács Ferenc
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person"></i> Kovács Melinda
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person"></i> Matics Zsolt
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person"></i> Mézes Miklós
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person"></i> Toldi Mária
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person"></i>Varró Petra
                </a>
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-person"></i>Világi Ildikó
                </a>
        </div>
    </ion-content>
</ion-view>
