<ion-view view-title="Egyetemi hírek">
    <ion-pane ng-controller="FeedController">
        <ion-content>
            <div class="button-bar">
                <a href="#/app/rss" class="button"><small>Kutatás</small></a>
                <a href="#/app/rss2" class="button"><small>Egyetem</small></a>
                <a href="#/app/rss3" class="button"><small>Pályázatok</small></a>
            </div>
            <ion-refresher pulling-text="Frissítés" on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list>
                <ion-item ng-repeat="post in posts">
                    <h2>{{post.title}}</h2> {{post.content}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
