/* Empty. Add your own CSS if you like */

.positive-bg {
    background-color: #00457C;
}

.positive, .positive * {
    color: #00457C;
}

.bar-positive .bar {
    background-color: #00457C;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.bar-footer {
    height: 50px;
}


.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background-color: transparent !important;
}

/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}