/* Empty. Add your own CSS if you like */

.positive-bg {
    background-color: #00457C;
}

.bar-positive .bar {
    background-color: #00457C;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.bar-footer {
    height: 50px;
}


.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: #232323;
    opacity: 0.90; !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}