/* Empty. Add your own CSS if you like */

.positive-bg {
    background-color: #00457C;
}

.bar-positive .bar {
    background-color: #00457C;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.bar-footer {
    height: 50px;
}
